* {
  margin: 0;

  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(
      to bottom right,
      #2c050586 0%,
      #000000c5 100%
    ),
    url("/img/gif/water.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  background-color: white;
  /* background-image: url("/img/back.png");
  background-size: cover;
  background-repeat: no-repeat; */
}

:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
p,
h1 {
  font-size: 12px;
}

h1 {
  font-family: "Ubuntu", sans-serif;
}

h2 {
  font-size: 14px;
}

.container {
  width: 35%;
  margin: 0 auto;
  padding: 10px;
}

.clearfix {
  content: "";
  clear: both;
}

/******** HEADER *********/

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #174153;

  border-radius: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 0;
  color: white;
  box-shadow: 0 8px 6px -6px rgb(50 51 51 / 40%);
}

.profile__text h1 {
  padding-bottom: 10px;
}

.profile__text p {
  font-family: sans-serif;
}

.profile__text {
  padding: 10px 10px 10px 0;
}

.profile {
  width: 35%;
  margin: 0 10px;
  text-align: center;
}

#profile__image {
  width: auto;
  height: 90px;
  border-radius: 100%;
}

/******** SLIDER *********/
.wrapper__container {
  background: #f2f7f5;
  height: 55px;
  margin: 15px 0;
  border-radius: 10px;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  overflow-x: scroll;
  overflow-y: scroll;
}

.wrapper.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.item {
  margin: 8px;
  top: 50%;
  width: 57px;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.wrapper img {
  width: 40px;
  height: 40px;
  display: block;
}

/******** SECTION *********/

section {
  margin: 10px 0;
}

.section-github {
  margin: 8px 0;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 6px -6px rgb(50 51 51 / 40%);
}

.github__image {
  width: 95%;
}

.side-icon {
  width: 100px;
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

/******** PROJECT *********/

.main-box {
  position: relative;
  border-radius: 5px;
  display: flex;
  padding: 30px 0;
  cursor: pointer;
  background: #f2f7f5;
  border: 1px outset #ececec;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.781);

  background: rgba(23, 65, 83, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.box-title {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  padding: 4px 0;
  color: #001e1d;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.box-title h2 {
  text-align: center;
  font-style: bold;
}

.main-box:hover,
.testimonial_box:hover,
.main-box:active {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  transition: all 0.3s ease;
}

.left-box {
  -webkit-box-flex: 80%;
  -ms-flex: 80%;
  flex: 80%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  padding-left: 20px;
}

.box-logo {
  -webkit-box-flex: 15%;
  -ms-flex: 15%;
  flex: 15%;
  text-align: center;
  margin-right: 15px;
}

.box-description p {
  margin: 3px 0;
  font-family: "Poppins", sans-serif;
}

.icon-1 {
  width: 170px;
  height: 100px;
  z-index: 10;
  position: relative;
}

/******************* FOOTER *******************/
.footer {
  /* position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%); */
}

.footer,
.footer-bottom {
  padding: 10px;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style-type: none;
  padding: 0 6px;
}

.footer ul li i {
  color: black;
  padding: 0 8px;
  font-size: 30px;
}

.icon:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

/******************* EMAIL *******************/

.footer-bottom {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-bottom h3 {
  text-transform: uppercase;
  padding: 10px;
}

.footer-bottom a {
  color: white;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 5px 10px;
  border-radius: 5px;
  background: #174153;
}
.footer-bottom a:hover {
  background-color: #eee;
  color: black;
}

.footer-bottom p:last-child {
  font-size: 14px;
}

.contrib-footer {
  display: none;
}

.lgx-btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  -ms-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
  height: 604%;
  width: 250px;
  left: 43px;
  border-radius: 100%;
}

.lgx-btn {
  overflow: hidden;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  outline: 0;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  margin: 0 auto;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-box-shadow: 0 8px 6px -6px rgb(50 51 51 / 40%);
  box-shadow: 0 8px 6px -6px rgb(50 51 51 / 40%);
}

.lgx-btn:after {
  content: "";
  position: absolute;
  left: 40px;
  top: 14px;
  height: 200px;
  width: 200px;
  background: #174153;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  -ms-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
  opacity: 0.2;
}

.float-left,
.float-right {
  display: none;
}

.upwork img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 8px 6px -6px rgb(50 51 51 / 40%);
}

.testimonial .testimonial_box {
  background: #174153;
  color: white;
  border-radius: 10px;
  padding: 20px;
}
g .testimonial h2 {
  color: white;
}

.testimonial h3 {
  padding: 5px 0;
}

.testimonial p {
  font-family: "Ubuntu", sans-serif;
  text-transform: capitalize;
  width: 98%;
  word-spacing: 2px;
  padding-bottom: 5px;
}
