/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
*/

* {
  margin: 0;

  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(
      to bottom right,
      #2c050586 0%,
      #000000c5 100%
    ),
    url("/img/gif/water.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  background-color: white;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
p,
h1 {
  font-size: 12px;
}

h1 {
  font-family: "Ubuntu", sans-serif;
}

h2 {
  font-size: 14px;
}

.container {
  width: 35%;
  margin: 0 auto;
  padding: 10px;
}

.clearfix {
  content: "";
  clear: both;
}

/******** HEADER *********/

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  background-color: #004643;
  border-radius: 10px;
  justify-content: center;
  padding: 10px 0;
  color: white;
}

.profile__text h1 {
  padding-bottom: 10px;
}

.profile__text p {
  font-family: sans-serif;
}

.profile__text {
  padding: 10px 10px 10px 0;
}

.profile {
  width: 35%;
  margin: 0 10px;
  text-align: center;
}

#profile__image {
  width: auto;
  height: 90px;
  border-radius: 100%;
}

/******** SLIDER *********/
.wrapper__container {
  /* background-image: linear-gradient(315deg, #fdfbfb 0%, #ebedee 74%); */
  height: 55px;
  margin: 8px 0;
  border-radius: 10px;
  background-color: #f2f7f5;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  overflow-x: scroll;
  overflow-y: scroll;
}

.wrapper.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.item {
  margin: 8px;
  top: 50%;
  width: 57px;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.wrapper img {
  width: 40px;
  height: 40px;
  display: block;
}

/******** SECTION *********/

section {
  margin: 10px 0;
}

.section-github {
  margin: 8px 0;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}

.github__image {
  width: 95%;
}

/******** PROJECT *********/

.main-box {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0;
  background: #f2f7f5;
  border: 1px outset #ececec;
  box-shadow: 5px 5px 5px -2px rgba(100, 100, 100, 0.98);
  -webkit-box-shadow: 5px 5px 5px -2px rgba(100, 100, 100, 0.98);
  -moz-box-shadow: 5px 5px 5px -2px rgba(100, 100, 100, 0.98);
}

.main-box:hover,
.main-box:active {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.left-box {
  -webkit-box-flex: 80%;
  -ms-flex: 80%;
  flex: 80%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  padding-left: 20px;
}

.box-logo {
  -webkit-box-flex: 15%;
  -ms-flex: 15%;
  flex: 15%;
  text-align: center;
  margin-right: 15px;
}

.box-title {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  padding: 4px 0;
  color: #001e1d;
}

.box-description p {
  margin: 3px 0;
  font-family: "Poppins", sans-serif;
}

.icon-1 {
  width: 100%;
  height: 100%;
}

/******************* FOOTER *******************/

.footer,
.footer-bottom {
  padding-top: 10px;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style-type: none;
  padding: 0 6px;
}

.footer ul li i {
  color: black;
  padding: 0 8px;
  font-size: 30px;
}

.icon:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

/******************* EMAIL *******************/

.footer-bottom {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: black;
}

.footer-bottom h3 {
  text-transform: uppercase;
  padding: 5px;
}

.footer-bottom a {
  color: black;
  transition: all 0.5s ease;
  padding: 5px 10px;
  border-radius: 5px;
}
.footer-bottom a:hover {
  background-color: #eee;
  color: black;
}

.footer-bottom p:last-child {
  font-size: 14px;
}

.contrib-footer {
  display: none;
}

.lgx-btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
  height: 604%;
  width: 250px;
  left: 43px;
  border-radius: 100%;
}

.lgx-btn {
  overflow: hidden;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  outline: 0;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  margin: 0 auto;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-box-shadow: 0 8px 6px -6px rgb(50 51 51 / 40%);
  -moz-box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.4);
  box-shadow: 0 8px 6px -6px rgb(50 51 51 / 40%);
}

.lgx-btn:after {
  content: "";
  position: absolute;
  left: 40px;
  top: 14px;
  height: 200px;
  width: 200px;
  background: #001e1d;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
  opacity: 0.4;
}

.float-left,
.float-right {
  display: none;
}
